@font-face {
    font-family: 'ITCAvantGardePro-Bold';
    src: url('../font/itcavantgardepro-bold.eot');
    src: url('../font/itcavantgardepro-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/itcavantgardepro-bold.woff') format('woff'),
         url('../font/itcavantgardepro-bold.ttf') format('truetype'),
         url('../font/itcavantgardepro-bold.svg#itcavantgardepro-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.avantgarde {
    font-family: 'ITCAvantGardePro-Bold';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body, html {
   background: #111;
   color: white;
}

h1,h2,h2,
p,ul,ol,li {
   margin: 0 0 1.5rem;
}

.agigen-section {
   border-bottom: 10px #111 solid;
   position: relative;
   text-align: center;
   
   overflow: hidden;
}

.agigen-section--background-image {
    text-shadow: 0px 0px 50px rgba(0,0,0,.4);
}

.agigen-section--background-image.agigen-section--color {
    text-shadow: none;
}

.agigen-section__background {
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.agigen-section__background--past {
    opacity: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.no-cssfilters .agigen-section__background--past {
    display: none !important;
}

a {
    color: white;
    text-decoration: none;
}

.agigen-section__container {
    height: 100%;
    padding: 0 1.5rem;
    position: relative;
}

.agigen-section__header {
    font-family: 'ITCAvantGardePro-Bold';
    font-weight: normal;
    text-transform: uppercase;
}
.agigen-section__subheader {
    text-transform: uppercase;
}


.agigen-section--main-header,
.agigen-section--footer {
    background: rgb(198,0,33);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(198,0,33,1) 0%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(198,0,33,1)), color-stop(100%,rgba(109,0,25,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(198,0,33,1) 0%,rgba(109,0,25,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(198,0,33,1) 0%,rgba(109,0,25,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(198,0,33,1) 0%,rgba(109,0,25,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(198,0,33,1) 0%,rgba(109,0,25,1) 100%);
    
}
.agigen-section--footer {
    border: none;
}

.agigen-section__bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.agigen-btn {
    display: inline-block;
    text-transform: uppercase;
    margin: 20px 10px 0;
    background: white;
    color: black;
    text-decoration: none;
}

.footer-content p {
    font-size: 1.1em;
    padding: 0.8em 0;
}

.agigen-sharing__item {
    font-size: 4em;
    margin: 0 0.2em;
}


html, body {
    font-size: 20px;
}
.agigen-section__header {
    font-size: 5em;
    line-height: 100%;
}
.agigen-section__subheader {
/*    font-size: 24px;*/
    font-size: 1.2em;
}
.agigen-btn {
    font-size: 1em;
    padding: 0.5em 1em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.vc-container:before {
    content: "";
    height: 100%;
    margin-left: -.5em;
}

.vc-container:before, .vc {
    display: inline-block;
    vertical-align: middle;
}
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@media only screen and (max-width: 768px) {
    html, body {
        font-size: 16px;
    }
}
@media only screen and (max-width: 540px) {
    html, body {
        font-size: 14px;
    }
    
    .agigen-section__subheader {
        font-size: 1.6em;
    }
}
@media only screen and (max-width: 440px) {
    html, body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 390px) {
    html, body {
        font-size: 8px;
    }
    
}

@media only screen and (max-width: 420px) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
